%h1 About
%p
  %strong Brmlab is a non-profit, community-run <a href="http://en.wikipedia.org/wiki/Hackerspace">hackerspace</a> in Prague. We provide a space where people who make things can come to share tools and knowledge.
%p We have a <a href="/place">great place</a>, right next to Vltavská, which is open to our members 24 hours a day. We hold regular free <a href="/events">hack evenings and workshops</a> which are open to everyone.
%p foto1
%p foto2
%p foto3
%p Learn more about brmlab on <a href="/start">our wiki</a>.
%h2 Contacts
%table
  %tr
    %td
      %img{ :src => "/mailinglist.png" }
    %td
      %a{ :href => "/mailinglist" } brmlab@brmlab.cz
  %tr
    %td
      %img{ :src => "/irc.png" }
    %td
      %a{ :href => "http://webchat.freenode.net/?nick=brm...&amp;channels=brmlab&amp;prompt=1" } #brmlab @ irc.freenode.net
  %tr
    %td
      %img{ :src => "/soup.png" }
    %td
      %a{ :href => "http://soup.brmlab.cz/" } soup.brmlab.cz
  %tr
    %td
      %img{ :src => "/twitter.png" }
    %td
      %a{ :href => "http://twitter.com/brmlab" } @brmlab
  %tr
    %td
      %img{ :src => "/facebook.png" }
    %td
      %a{ :href => "http://facebook.com/brmlab" } brmlab
  %tr
    %td
      %img{ :src => "/gplus.png" }
    %td
      %a{ :href => "https://plus.google.com/112530081619764131417" } G+
  %tr
    %td
      %img{ :src => "/phone.png" }
    %td
      %span +420 <b>608 801 582</b>

%h2 Join us!
%p If you want to use our space regularly you should <a href="/index-join.html">become a member</a>, however attending our <a href="/events">events</a> is free!
