%h1 About
%p
  %strong Brmlab is a non-profit, community-run <a href="http://en.wikipedia.org/wiki/Hackerspace">hackerspace</a> in Prague. We provide a space where people who make things can come to share tools and knowledge.
%p We have a <a href="/place">great place</a>, right next to Vltavská, which is open to our members 24 hours a day. We hold regular free <a href="/events">hack evenings and workshops</a> which are open to everyone.
%p foto1
%p foto2
%p foto3
%p Learn more about brmlab on <a href="/start">our wiki</a>.
%p contacts
%h2 Join us!
%p If you want to use our space regularly you should <a href="/index-join.html">become a member</a>, however attending our <a href="/events">events</a> is free!
