%h1 Press
%p Logo for press purposes can be found <a href="/promote#logos">on wiki</a>
%p All official press releases and statements on behalf of Brmlab as a community are done by the Chair (předseda) or council (rada). Current chair and council members are listed at <a href="/legal">"Legal" page on wiki</a>
%p If you need a press statement from Brmlab, please contact council at <a href="mailto:rada@brmlab.cz">rada@brmlab.cz</a>. Please clearly state you need a press statement in the email.
%p Any statement provided by an individual member of Brmlab, not signed by the Chair, is strictly a statement of the particular member's personal opinions and does not represent an official position of Brmlab on given topic
