%h1 Join us!
%h2 Why become a member?

%p By joining brmlab you gain these benefits among other things
%ul
  %li <b>good feeling</b> that you are supporting awesome things we do :-)
  %li <b>access to hackerspace</b> and all of its equipment <b>24/7</b>
  %li <b>chance to visit other hackerspaces</b> all around the world. Hackerspace members enjoy visiting each others. Being a member of one of the hackerspaces raising your chance beeing heartily welcomed in similar groups around the globe.
  %li <b>voting right</b>, participate on community decisions, decide what will our resources be used for, get chance to influence and shape brmlab future
  %li chance to <b>get financial support for your project</b> (but this option is very limited for now, so do not expect much :-))
  %li <b>access to</b> links to non-public <b>information</b>, books and other information resources
  %li <b>username@brmlab.cz</b> e-mail alias
  %li <b>brmlab/member/username</b> Libera IRC cloak (hopefully, nobody asked yet)
  %li access to <b>network resources</b> like ChaosVPN and CZFree
  %li we regularly team up on other orders from various e-shops to <b>save on shipping costs</b>
  %li <b>discount on buying hardware</b>
  %li <b>discount for events</b>

%h2 How to become a member?

%ol
  %li <b>send email</b> to <a href="mailto:signup@brmlab.cz?subject=Membership request">signup@brmlab.cz</a> with the following details:
  %ul
    %li username
    %li real name and surname
    %li phone number (cellular if possible)
    %li email address
    %li year of birth
    %li PGP key (optional)
  %li <b>subscribe</b> to our <b>mailing list</b> using the address from the step above
  %ul
    %li go to <a href="/mailman/listinfo/brmlab">this page</a> and follow the instructions
  %li <b>register on our wiki</b> and create your user page
  %ul
    %li just go to url <a href="/user/foo">https://brmlab.cz/user/foo</a> where <i>foo</i> is your username
  %li <b>show yourself</b> IRL at a couple of our Tuesday meetups to get accepted
  %li once accepted you will <b>receive a numerical ID</b> which is used to pay your membership fee
  %ul
    %li monthly membership fee is:
    %ul
      %li <b>500 CZK or 20 EUR</b> for regular members
      %li <b>250 CZK or 10 EUR</b> for students
