%h1 About
%p
  %strong Brmlab is a non-profit, community-run <a href="http://en.wikipedia.org/wiki/Hackerspace">hackerspace</a> in Prague. We provide a space where people who make things can come to share tools and knowledge.
%p We have a <a href="/place">great place</a>, right next to Vltavská, which is open to our members 24 hours a day. We hold regular free <a href="/events">hack evenings and workshops</a> which are open to everyone.

%img{ :src => "frontfoto.jpg", :alt => "foto" }

#flickrphotos
  %script{ :type => "text/javascript", :src => "https://secure.flickr.com/badge_code_v2.gne?count=6&display=random&size=s&layout=h&source=user&user=56741449%40N05" }
  %p#photos2soup
    <a href="http://soup.brmlab.cz/">(more pictures)</a>

%p Learn more about brmlab on <a href="/start">our wiki</a>.

%h2 Join us!
%p You are welcome to come by, attend our <a href="/events">events</a> or even start building something at our space. If you want to use our space regularly and be able to come anytime, it is best to <a href="index-join.html">become a member</a>.
