%h1 Organisation
%p Our legal entity is <b>brmlab, o.s.</b> and our current address is:
%p <b>brmlab, o.s.<br/>Bubenská 1477/1<br/>170 00 Praha 7</b>
%p Organisation number: <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_oss.cgi?ico=22860657&jazyk=cz&xml=1">22860657</a>
%p Organisation council can be reached at <a href="mailto:rada@brmlab.cz">rada@brmlab.cz</a>
