%h1 Donate

%h2 Wire transfer

%p We have a Fio bank account. You can transfer money in the following ways:

%ul
  %li <b>CZK</b> transfers: 2500079551/2010 (preferred)
  %ul
    %li <b>Slovak</b> domestic wire transfer: 2500079551/8330
    %li <b>IBAN</b> SK1683300000002500079551 BIC FIOZSKBAXXX
  %li <b>EUR</b> transfers: 2100079552/2010
  %ul
    %li <b>Slovak</b> domestic wire transfer: 2100079552/8330
    %li <b>IBAN</b> SK0783300000002100079552 BIC FIOZSKBAXXX
  %li <b>USD</b> transfers: 2900079550/2010
  %ul
    %li <b>Slovak</b> domestic wire transfer: 2900079550/8330
    %li <b>IBAN</b> SK2583300000002900079550 BIC FIOZSKBAXXX

%h2 Bitcoin

%p We accept bitcoins at the following address: <a href="https://blockchain.info/address/1BRMLAB7nryYgFGrG8x9SYaokb8r2ZwAsX">1BRMLAB7nryYgFGrG8x9SYaokb8r2ZwAsX</a>

%h2 Flattr

%p
  %a{ :href => "https://flattr.com/thing/220653/brmlab-on-Flattr", :target => "_blank" }
    %img{ :src => "https://api.flattr.com/button/flattr-badge-large.png", :alt => "Flattr this", :title => "Flattr this" }

%h2 Hardware

%p To donate physical stuff, please contact rada@brmlab.cz.

%h2 Legal notice (ENG)

%p All possible donations will be primarily used to fulfill the main purposes of the association.

%h2 Právní poznámka (CZE)

%p Všechny případné dary budou primárně použité k naplnění hlavních účelů spolku.
