%h1 Organisation
%p Our legal entity is <b>brmlab, z.s.</b> and our current address is:
%p <b>brmlab, z.s.<br/>Pod KapliÄkou 20<br/>130 00 Praha 3</b>
%p Organisation number: <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_oss.cgi?ico=22860657&jazyk=cz&xml=1">22860657</a>
%p Organisation council can be reached at <a href="mailto:rada@brmlab.cz">rada@brmlab.cz</a>
