%h1 povoden.brmlab.cz
%p povoden.brmlab.cz byla stránka vzniklá během povodní v roce 2013. Zrcadlila důležité informace tehdy často nefunkčního webu ČHMŮ a poskytovala rozcestník na nabídky pomoci. Tato stránka již několik let neexistuje, ale můžete se podívat, kdo jsme a na další věci, které děláme.
%p povoden.brmlab.cz was a website that was quickly put together during the floods in 2013. It mirrored important information from Czech Hydrometeorological Institute, whose official website was frequently overloaded and inaccessible. The website is not working anmyore for a several years, but you are welcome to check out who we are and what we do.
