!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      Hackerspace Prague [brmlab]
    %link{:href => "style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    #main
      = yield
    #sidebar
      %a{:href => "index.html"}
        %img{:src => "brmlab.png"}
      %ul
        %li
          %a{:href => "index.html"} About
        %li
          %a{:href => "index-join.html"} Join
        %li
          %a{:href => "/event/start"} Events
        %li
          %a{:href => "index-organisation.html"} Organisation
        %li
          %a{:href => "index-donate.html"} Donate
      %ul
        %li
          %a{:href => "/start"} Wiki

      %a{ :href => "/mailinglist" }
        %img{ :src => "/mailinglist.png" }
      %a{ :href => "http://webchat.freenode.net/?nick=brm...&amp;channels=brmlab&amp;prompt=1" }
        %img{ :src => "/irc.png" }
      %a{ :href => "http://soup.brmlab.cz/" }
        %img{ :src => "/soup.png" }
      %a{ :href => "http://twitter.com/brmlab" }
        %img{ :src => "/twitter.png" }
      %br
      %a{ :href => "http://facebook.com/brmlab" }
        %img{ :src => "/facebook.png" }
      %a{ :href => "https://plus.google.com/112530081619764131417" }
        %img{ :src => "/gplus.png" }
      %a{ :href => "http://flickr.com/photos/brmlab" }
        %img{ :src => "/flickr.png" }
      %a{ :href => "javascript:alert('+420 608 801 582');" }
        %img{ :src => "/phone.png" }
      %br

      %br
      %p
        %img{ :src => "https://brmlab.cz/brmstatus.png" }
