!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      Hackerspace Prague [brmlab]
    %link{:href => "/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    #main
      = yield
    #sidebar
      %a{:href => "/index.html"}
        %img{:src => "/brmlab.png", :width => "192", :height => "44"}
      %ul
        %li
          %a{:href => "/index.html"} About
        %li
          %a{:href => "/place"} Visit Us
        %li
          %a{:href => "/index-join.html"} Join
        %li
          %a{:href => "/events"} Events
        %li
          %a{:href => "/index-organisation.html"} Organisation
        %li
          %a{:href => "/index-donate.html"} Donate
      %ul
        %li
          %a{:href => "/start"} Wiki

      %a{ :href => "/lists" }
        %img{ :src => "/mailinglist.png" }
      %a{ :href => "https://web.libera.chat/?nick=brm&#brmlab" }
        %img{ :src => "/irc.png" }
      %a{ :href => "https://twitter.com/brmlab" }
        %img{ :src => "/twitter.png" }
      %a{ :href => "https://facebook.com/brmlab" }
        %img{ :src => "/facebook.png" }
      %br
      %a{ :href => "https://github.com/brmlab" }
        %img{ :src => "/github.png" }
      %a{ :href => "http://nat.brmlab.cz/phtagr/" }
        %img{ :src => "/phtagr.png" }
      %a{ :href => "https://flickr.com/photos/brmlab" }
        %img{ :src => "/flickr.png" }
      %a{ :href => "javascript:alert('+420 608 801 582');" }
        %img{ :src => "/phone.png" }
      %br

      %br
      %p
        %img{ :src => "/brmstatus.png" }
